@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }

  body {
    color: white;
    background: black;
  }
}

.logo {
  width: 90px;
  height: 70px;
  cursor: pointer;
}

.icon {
  color: #5457A6;
  cursor: pointer;
}

.main-color {
  color: #5457A6;
}

.main-button {
  background-color: #5457A6;
}

.mainbanner {
  height: 100vh auto;
  background-image: url("../public/mainbanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  height: 80vh;
  background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1664698902~exp=1664699502~hmac=656b54c021de06bb9e286cc5f7a4450d1f1c34edb661abda99fc880c098f7455');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}